<ion-view style="" id="page3" title="Details">
  <ion-content class="has-header" padding="true">
    <div>
      <img style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;" src="img/jj71vNALQeGowINes1MR_2.jpg">
    </div>
    <h3 style="color: rgb(0, 0, 0);" id="details2-heading16">rance pineda</h3>
    <h3 style="color: rgb(0, 0, 0);" id="details2-heading14">Male</h3>
    <h3 style="color: rgb(0, 0, 0);" id="details2-heading15">Number</h3>
    <ion-list id="details2-list9">
      <ion-item style="" id="details2-list-item10" class="item-avatar">
        <h2>09553576589</h2>
      </ion-item>
    </ion-list>
    <button class="button button-positive button-block" id="details2-button7">call</button>
    <button class="button button-positive button-block" id="details2-button3">edit</button>
  </ion-content>
</ion-view>