<ion-view style="" id="page2" title="Details">
  <ion-content class="has-header" padding="true">
    <div>
      <img style="display:block;width:50%;height:30;" src="img/bf3LK7jsRC6aJCRrh2QQ_1.jpg">
    </div>
    <h3 style="color: rgb(0, 0, 0);" id="details-heading4">aaron pineda</h3>
    <h3 style="color: rgb(0, 0, 0);" id="details-heading7">Male</h3>
    <h3 style="color: rgb(0, 0, 0);" id="details-heading5">Number</h3>
    <ion-list id="details-list6">
      <ion-item style="" id="details-list-item7" class="item-avatar">
        <h2>093532663322</h2>
      </ion-item>
    </ion-list>
    <button class="button button-positive button-block" id="details-button6">call</button>
    <button class="button button-positive button-block" id="details-button2">edit</button>
  </ion-content>
</ion-view>