<ion-view style="" id="page5" title="Details">
  <ion-content class="has-header" padding="true">
    <div>
      <img style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;" src="img/vZmDM56gSOqSswcpTleS_3.jpg">
    </div>
    <h3 style="color: rgb(0, 0, 0);" id="details4-heading11">lois pamintuan</h3>
    <h3 style="color: rgb(0, 0, 0);" id="details4-heading12">Male</h3>
    <h3 style="color: rgb(0, 0, 0);" id="details4-heading13">Number</h3>
    <ion-list id="details4-list8">
      <ion-item style="" id="details4-list-item9" class="item-avatar">
        <h2>09686953522</h2>
      </ion-item>
    </ion-list>
    <button class="button button-positive button-block" id="details4-button9">call</button>
    <button class="button button-positive button-block" id="details4-button5">edit</button>
  </ion-content>
</ion-view>