<ion-view style="" id="page4" title="Details">
  <ion-content class="has-header" padding="true">
    <div>
      <img style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;" src="img/0g3zNwwVTeKA3B7Xs0LN_4.jpg">
    </div>
    <h3 style="color: rgb(0, 0, 0);" id="details3-heading8">angel yabut</h3>
    <h3 style="color: rgb(0, 0, 0);" id="details3-heading9">Male</h3>
    <h3 style="color: rgb(0, 0, 0);" id="details3-heading10">Number</h3>
    <ion-list id="details3-list7">
      <ion-item style="" id="details3-list-item8" class="item-avatar">
        <h2>09368641475</h2>
      </ion-item>
    </ion-list>
    <button class="button button-positive button-block" id="details3-button8">call</button>
    <button class="button button-positive button-block" id="details3-button4">edit</button>
  </ion-content>
</ion-view>