<ion-view style="" id="page7" title="Page">
  <ion-content class="has-header" padding="true">
    <form class="list" id="page2-form4">
      <label id="page2-input3" class="item item-input">
        <input placeholder="name" type="text">
      </label>
      <label id="page2-input5" class="item item-input">
        <input placeholder="number" type="tel">
      </label>
      <label id="page2-input4" class="item item-input">
        <input placeholder="gender" type="text">
      </label>
    </form>
  </ion-content>
</ion-view>